<h1>All restaurants</h1>
<%= link_to 'Create a new restaurant', new_restaurant_path %>
<% @restaurants.each do |restaurant| %>
  <h5><%= link_to restaurant.name, restaurant_path(restaurant.id) %> <%= 'â­ï¸' * restaurant.rating %></h5>
  <p><%= restaurant.address %></p>
<% end %>
